.cont1{
    position: relative;
    left: -70px;
    height: 750px;
    width: 1500px;
    background: #ffffff;
    border-radius: 20px;
}
.title1{
    position: relative;
    left: 50px;
    top: 10px;
}
.cont2{
    position: relative;
    bottom: -15px;
    background: rgb(192, 190, 190);
    height: 650px;
}
.cont3{
    position: relative;
    top: 30px;
    left: -100px;
}
.info{
    position: relative;
    left: 920px;
    bottom: 550px;
    border-radius: 25px;
    height: 500px;
    width: 500px;
    background: #EEAB00;
}

.cant{
    border: none;
    border-radius: 15px;
    font-size: 20px;
    width: 400px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
.date{
    border: none;
    border-radius: 15px;
    width: 400px;
    height:50px;
    align-items: center;
    align-self: center;
    font-size: 20px;
    text-align:start;
    padding-left: 15px;
    padding-right: 15px;
}
.motive{ 
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    display: block;
    position:static;
    border: none;
    top: 430px;
    border-radius: 15px;
}
.subtext{
    font-size: 20px;
}
.remove, .cancel{
    position: relative;
    top: 30px;
    left: 50px;
    border-radius: 15px;
    border: none;
    padding: 0px 20px;
    font-size: 22px;
    font-weight: 400;
    align-items: center;
    align-self:center;
    text-align: center;
}
.remove{
    border: 1px red solid;
    height: 50px;
    width: 170px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancel{
    position: relative;
    top: -20px;
    border: 1px red solid;
    height: 50px;
    width: 170px;
    background: transparent;
    left: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date, .cant, .motive{
    border-bottom: 5px #EEAB00 solid;
}
.container-info{
    width: 400px;
    align-self: center;
    margin-left: 40px;
}
.title2{
    position: relative;
    top: 25px;
}
.subtext-1{
    position: relative;
    top: 10px;
}
.img-1{
    position: relative;
    top: -15px;
    left: 30px;
    width: 370px;
    height: 230px;
}


/* Pie de pagina Inica aqui */

footer {
    position: relative;
    display: block;
    bottom: -100px;
    left: 75px;
    height: 200px;
    width: 1835px;
    background: #292929;
}

.iconos-footer {
    top: 80px;
    position: relative;
    font-size: 30px;
}

.text-footer {
    color: #F2F2F2;
    top: 80px;
    position: relative;
    position: relative;
}