body{
    margin: 0;
    padding: 0;
    background: url(/Images/checkbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}