/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* ======================== */

.button {
    position: relative;
    width: 400px;
    height: 50px;
    background-color: #0D8CDB;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: width .100s,
    border-radius .100s;
    border: transparent;
}

.button * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .25s;
    border: transparent;
}
button{
    border: transparent;
}
i{
    border: transparent;
}
#ico {
    opacity: 0;
    border: transparent;
}
.text{
    font-size: 20px;
}

.button:focus {
    position: relative;
    left: 50px;
    width: 300px;
    background-color: #44c08a;
    border-radius: 10px;
    border: transparent;
}

.button:focus .text {
    opacity: 0;
    border: none;
}

.button:focus #ico {
    border: transparent;
    opacity: 1;
    transition-delay: .10s;
}