.search-box{
    position: absolute;
    top: 52px;
    left: 1450px;
    transform: translate(-50%,-50%);
    background: #fff;
    height: 40px;
    border-radius: 40px;
    padding: 10px 1px;

}
.search-box > .search-txt{
    position: relative;
    width: 240px;
    padding: 0px 15px;
    top: -10px;
}
.search-box > .search-btn{
   background: white;
}
.search-btn{
    display: block;
    position: relative;
    left: -1px;
    top: -10px;
    color: #0D0D0D;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: black;
 font-size: 16px;
 transition: 0.5s;   
 line-height: 40px;
 width: 0px;
}