body{
    /* Walpaper dashboard */
    background-image: url(/Images/wallpaper_background.jpg);
    background-size: 1290px;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.navbar{
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #000;
    margin-left: 100px;
    min-height: 100px;
    min-width: 100px;
}
.nav-link{
    color: #000;
}
.nav-link:hover{
    color: blue;
}

.sidebar{    
    position: fixed;
    top: 0px;
    left: -10px;
    padding: 10px 0px;
    height: 100%;
    width: 85px;
    color: #fff;
    background: #000;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    display: flex;
    height: 60px;
    width: 100%;
    margin-left: 35px;
    margin-bottom: 35px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
}
.logo_content .logo .logo_sup{
    font-size: 20px;
    margin-right: 9px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.logo{
    line-height: 10px;
}
.sidebar #btn{
    position: absolute;
    color: rgb(166, 172, 211);
    left: 39%;
    top: 15px;
    font-size: 20px;
    height: 50px;
    width: 30px;
    text-align: center;
    transition: all 0.5s ease;
} 
.sidebar.active #btn{
    left: 82%;
}
.sidebar ul{
    margin-top: 20px;
}
.sidebar ul li{
    font-size: 20px;
    height: 50px;
    position: relative;
    margin: 10px -15px;
    width: 100%;
    list-style: none;
    line-height: 10px;
    text-decoration: none;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #ffff;
    background: rgb(166, 172, 211);
}
.sidebar ul li i{
    align-items: center;
    height: 50px;
    min-width: 45px;
    border-radius: 12px;
    line-height: 55px;
    text-align: center;
}
.sidebar .link_n{
    opacity: 0;
    pointer-events:none;
}
.sidebar.active .link_n{
    opacity: 1;
    pointer-events:auto;  
}
.sidebar ul li .tooltip_hs {
    position: absolute;
    left: 100px;
    top: 10%;
    transform: translate(-20% ,-20%);
    text-align: center;
    line-height: 35px;
    border-radius: 6px;
    height: 35px;
    width: 150px;
    color: #000;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip_hs{
    display: none;

}
.sidebar ul li:hover .tooltip_hs{
    transition: all 0.5s 10px ease;
    opacity: 1;
    top: 40%;
}
.nav_item{
    position: absolute;  
    height: 100%;
    width: calc(100% - 140px);
    left: 152px;
    top: 20px;
    transition: all 0.5s ease;
  }

#lateral{
    padding-right: 10px;
    padding-right:1px;
    align-items: center;
    height: 50px;
    min-width: 40px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

#arrow-down{
    font-size: 20px;
    padding-top: 10px;
}
#menu-icon{
    font-size: 30px;
}
#black-bell ,#icon-search {
    color: #000;
    font-size: 20px;
    padding-top: 15px;
    padding-right:30px;
    
}
#profile{
    margin-top: 11px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 600px;
}
.navbar-toggler:focus{
    outline: none;
}
#head-1{
    font-size: 15px;
    font-weight: 100;
    line-height: 6px;
}
.card{
    width: 16rem;
}
#card-1{
    top: 100px;
    left: 20%;
}
#card-2{
    top: -166px;
    left: 40%
}
#card-3{
    top: -356px;
    margin-left: 60%;
}
#card-4{
    margin-left: 60%;
    top: -1px;
}

@media (max-width: 575.98px) { 
    #nav-logo{width: 71px; height: 81px;}
}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

