html {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url(/Images/wallpaper_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: top;
    background-attachment: fixed;
}

/* Scroll Personalizado */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #347AE2;
    border-radius: 20px;
}

.navbar {
    background: transparent;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    color: #0D0D0D;
    min-height: 100px;
    min-width: 100px;
}

.nav-link {
    position: relative;
    right: 15px;
    color: #fff;
}

.nav-link2 ol {
    position: relative;
    right: 1px;
    top: -10px;
    font-size: 15px;
    background: none;
}

.nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-text {
    font-size: 23px;
    position: relative;
    top: 15px;
    left: 10%;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: -10px;
    padding: 10px 0px;
    height: 100%;
    width: 85px;
    color: #fff;
    background: #0D0D0D;
    transition: all 0.5s ease;
    z-index: 3;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    position: relative;
    display: flex;
    top: 35px;
    width: 100%;
    margin-left: 35px;
    margin-bottom: 70px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
}

.logo_content .logo .logo_sup {
    font-size: 20px;
    margin-right: 10px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.logo {
    line-height: 10px;
}

.sidebar #btn {
    position: absolute;
    color: #BFBFBF;
    left: 40%;
    top: 29px;
    font-size: 20px;
    height: 50px;
    width: 30px;
    text-align: center;
    transition: all 0.5s ease;
}

.sidebar.active #btn {
    left: 82%;
}

.sidebar ul li {
    font-size: 20px;
    height: 50px;
    position: relative;
    margin: 10px -15px;
    width: 100%;
    list-style: none;
    line-height: 50px;
    text-decoration: none;
}

.sidebar_footer {
    position: relative;
    padding-top: 300px;
}

.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: #ffff;
    background: rgb(166, 172, 211);
}

.sidebar ul li i {
    align-items: center;
    height: 50px;
    min-width: 45px;
    border-radius: 12px;
    line-height: 55px;
    text-align: center;
}

.sidebar .link_n {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .link_n {
    opacity: 1;
    pointer-events: auto;
}

.sidebar ul li .tooltip_hs {
    position: absolute;
    left: 100px;
    top: 10%;
    transform: translate(-20%, -20%);
    text-align: center;
    line-height: 35px;
    border-radius: 6px;
    height: 35px;
    width: 150px;
    color: #000;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.sidebar.active ul li .tooltip_hs {
    display: none;

}

.sidebar ul li:hover .tooltip_hs {
    transition: all 0.5s ease;
    opacity: 1;
    top: 40%;
}

.nav_item {
    position: absolute;
    height: 100%;
    width: calc(100% - 140px);
    left: 150px;
    top: 20px;
    transition: all 0.5s ease;
}

#lateral {
    padding-right: 10px;
    padding-right: 1px;
    align-items: center;
    height: 50px;
    min-width: 40px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

#arrow-down {
    font-size: 20px;
    padding-top: 10px;
}

#menu-icon {
    font-size: 30px;
}

#black-bell,
#icon-search {
    color: #0D0D0D;
    font-size: 22px;
    padding-top: 13px;
    padding-right: 35px;
}

#profile {
    margin-top: 11px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 600px;
}

.navbar-toggler:focus {
    outline: none;
}

#head-1 {
    position: relative;
    left: 615px;
    font-size: 13px;
    font-weight: 100;
    line-height: 6px;
}

/* Estilos contenido pagina  ⬇️*/

.cards {
    position: relative;
    top: 50px;
    left: 30px;
}

.container-card {
    position: relative;
    top: -140px;
}

.card {
    width: 200px;
    height: 120px;
}

.card-body-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 3px;
    position: relative;
    width: 85rem;
    height: 132px;
    left: 300px;
    top: 12px;
    background: #ccccccb1;
    box-shadow: 1px 0px 25px rgba(0, 0, 0, 0.292);
    border-radius: 12px;
}

.divider-1 {
    position: relative;
    top: -50px;
    left: -315px;
    width: 102px;
    height: 0px;
    border: 1px solid #F2F2F2;
    transform: rotate(90deg);
}

.divider-2 {
    position: relative;
    top: -205px;
    left: 20px;
    width: 102px;
    height: 0px;
    border: 1px solid #F2F2F2;
    transform: rotate(90deg);
}

.divider-3 {
    position: relative;
    top: -357px;
    left: 365px;
    width: 102px;
    height: 0px;
    border: 1px solid #F2F2F2;
    transform: rotate(90deg);
}

#card-1 {
    background: transparent;
    box-sizing: border-box;
    top: 26px;
    left: 20%;

}

#card-2 {
    position: relative;
    background: transparent;
    box-sizing: border-box;
    top: -128px;
    left: 37%
}

#card-3 {
    position: relative;
    background: transparent;
    box-sizing: border-box;
    top: -280px;
    left: 55%;
}

#card-4 {
    position: relative;
    background: transparent;
    box-sizing: border-box;
    top: -435px;
    left: 72%;
}

.card-text-1 {
    color: #292929;
    position: relative;
    top: -15px;
    text-align: left;
}

.card-title {
    position: relative;
    font-weight: 700;
    margin: 1px -5px;
}

.card-text {
    position: relative;
    top: -40px;
}

.icon {
    color: #347AE2;
    position: relative;
    left: 130px;
    top: -40px;
    font-size: 24px;
    width: 34px;
    height: 35px;
    box-shadow: 1px 0px 10px rgba(124, 141, 181, 0.491);
    border-radius: 12px;
    text-align: center;
}

#icon-down {
    color: #D12830;
    font-size: 25px;
    top: -50px;
}

#icon-up {
    color: #4EC052;
    font-size: 25px;
    top: -50px;
}

#text-down {
    position: relative;
    font-size: 18px;
    top: -55px;
    left: 10px;
}

.card-2 {
    box-shadow: 1px 0px 25px rgba(0, 0, 0, 0.292);
    background: #ccccccb1;
    position: relative;
    width: 1362px;
    height: 610px;
    top: -490px;
    left: 330px;
    border-radius: 12px;
}

#myChart {
    position: relative;
    top: 50px;
    align-self: center;
}

#btn-chart {
    position: relative;
    top: 60px;
}

#btn-2 {
    width: 112px;
}

 /* Estilos tablas de datos */

table {
    position: relative;
    bottom: -45px;
}

th {
    font-size: 15px;
}
.contenedor{
    overflow: auto;
}
.contenedor ::-webkit-scrollbar{
    width: 7px;
}
.contenedor::-webkit-scrollbar-thumb{
    background: #000;
}

.text-1 {
    position: relative;
    top: 30px;
}

#table-2 {
    position: relative;
    left: 445px;
}

/* Pie de pagina Inica aqui */

footer {
    position: relative;
    display: block;
    bottom: -100px;
    left: 75px;
    height: 200px;
    width: 1835px;
    background: #292929;
}

.iconos-footer {
    top: 80px;
    position: relative;
    font-size: 30px;
}

.text-footer {
    color: #F2F2F2;
    top: 80px;
    position: relative;
    position: relative;
}

/* Clases Resposive */

@media (max-width: 575.98px) {
    body {
        width: 412px;
        height: 800px;
    }

    .navbar {
        width: 20px;
        height: 20px;
        position: relative;
    }

    .nav-link {
        right: 1px;
    }

    .navbar-text {
        left: 20%;
    }

    .sidebar {
        font-size: 2px;
        line-height: 100px;
    }

}

@media (max-width: 767.98px) {
    .navbar {
        width: 50px;
        height: 50px;
    }

}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}