.rec1{
    background-color: #000;
    box-sizing: border-box;
    border-radius: 30px;
    position: relative;
    top: -600px;
    left: 30%;
    width: 100px;
    height: 0px;
}
.contenido{
    width: 400px;
}

.sidebar{    
    position: fixed;
    top: 0px;
    left: -10px;
    padding: 10px 0px;
    height: 100%;
    width: 85px;
    color: #fff;
    background: #0D0D0D;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    position: relative;
    display:flex ;
    top: 35px;
    width: 100%;
    margin-left: 35px;
    margin-bottom: 130px;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
}
.logo_content .logo .logo_sup{
    font-size: 20px;
    margin-right: 10px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
}
.logo{
    line-height: 10px;
}
.sidebar #btn{
    position: absolute;
    color: #BFBFBF;
    left: 40%;
    top: 29px;
    font-size: 20px;
    height: 50px;
    width: 30px;
    text-align: center;
    transition: all 0.5s ease;
} 
.sidebar.active #btn{
    left: 82%;
}
.sidebar ul li{
    font-size: 20px;
    height: 50px;
    position: relative;
    margin: 10px -15px;
    width: 100%;
    list-style: none;
    line-height: 50px;
    text-decoration: none;
}
.sidebar_footer{
    position: relative;
    padding-top: 300px;
}
.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #ffff;
    background: rgb(166, 172, 211);
}
.sidebar ul li i{
    align-items: center;
    height: 50px;
    min-width: 45px;
    border-radius: 12px;
    line-height: 55px;
    text-align: center;
}
.sidebar .link_n{
    opacity: 0;
    pointer-events:none;
}
.sidebar.active .link_n{
    opacity: 1;
    pointer-events:auto;  
}
.sidebar ul li .tooltip_hs {
    position: absolute;
    left: 100px;
    top: 10%;
    transform: translate(-20% ,-20%);
    text-align: center;
    line-height: 35px;
    border-radius: 6px;
    height: 35px;
    width: 150px;
    color: #000;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip_hs{
    display: none;

}
.sidebar ul li:hover .tooltip_hs{
    transition: all 0.5s ease;
    opacity: 1;
    top: 40%;
}